@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
.mww {
    @apply font-body text-xl;
}

.mww p {
    @apply mb-4 text-xl;
}

.mww a {
    @apply text-blue-500 underline;
}

.mww h1, .mww h2, .mww h3, .mww h4, .mww h5, .mww h6 {
    @apply font-heading;
}

.mww h2 {
    @apply text-3xl mt-16 mb-6;
}

.mww h3 {
    @apply text-xl mt-8 mb-4;
}

.mww ul, .mww ol {
    @apply list-outside ml-8 mb-4;
}

.mww li {
    @apply mb-2 pl-2;
}

.mww ul {
    @apply list-disc;
}

.mww ol {
    @apply list-decimal;
}

.mww pre {
    @apply mb-4;
}

.mww .todo-wrapper {
    @apply flex flex-col gap-2;
}

.mww blockquote {
    @apply pl-4 border-l-4 border-gray-300 italic;
}

.mww .callout {
    @apply flex gap-2 bg-gray-200 items-center my-4 p-2;
}

.mww hr {
    @apply my-8 border-t-2 border-gray-300;

}

.mww .to-do {
    @apply flex mb-2 pl-2;
}

.mww .to-do .checkbox {
    @apply mr-2;
}

.mww .todo-wrapper .todo-wrapper {
    @apply ml-8;
}

.mww code.inline {
    @apply bg-gray-200 px-1 py-0.5 rounded-md;
}

@font-face {
    font-family: "Gosha Sans";
    font-weight: 400;
    src: url("/fonts/GoshaSans-Regular.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Gosha Sans";
    font-weight: 700;
    src: url("/fonts/GoshaSans-Bold.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Gosha Sans";
    font-weight: 800;
    src: url("/fonts/GoshaSans-Ultrabold.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Gosha Sans";
    font-weight: 200;
    src: url("/fonts/GoshaSans-Ultralight.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Object Sans";
    font-weight: 700;
    src: url("/fonts/ObjectSans-Bold.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Object Sans";
    font-weight: 700;
    font-style: italic;
    src: url("/fonts/ObjectSans-BoldSlanted.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Object Sans";
    font-weight: 900;
    src: url("/fonts/ObjectSans-Heavy.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Object Sans";
    font-weight: 900;
    font-style: italic;
    src: url("/fonts/ObjectSans-HeavySlanted.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Object Sans";
    font-weight: 400;
    src: url("/fonts/ObjectSans-Regular.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Object Sans";
    font-weight: 400;
    font-style: italic;
    src: url("/fonts/ObjectSans-Slanted.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Object Sans";
    font-weight: 100;
    src: url("/fonts/ObjectSans-Thin.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Object Sans";
    font-weight: 100;
    font-style: italic;
    src: url("/fonts/ObjectSans-ThinSlanted.otf") format("opentype");
    font-display: swap;
}
