@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
.mww {
    @apply font-body text-lg;
}

.mww p {
    @apply mb-4 max-w-xl mx-auto;
}

.mww a {
    @apply text-blue-500 underline;
}

.mww h1, .mww h2, .mww h3, .mww h4, .mww h5, .mww h6 {
    @apply max-w-xl mx-auto font-heading;
}

.mww h2 {
    @apply text-2xl mt-8 mb-4;
}

.mww h3 {
    @apply text-xl mt-8 mb-4;
}

.mww ul, .mww ol {
    @apply max-w-xl mx-auto list-outside pl-4 mb-4;
}

.mww li {
    @apply mb-2 pl-2;
}

.mww ul {
    @apply list-disc;
}

.mww ol {
    @apply list-decimal;
}

.mww pre {
    @apply mb-4;
}

@font-face {
    font-family: "Gosha Sans";
    font-weight: 400;
    src: url("/fonts/GoshaSans-Regular.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Gosha Sans";
    font-weight: 700;
    src: url("/fonts/GoshaSans-Bold.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Gosha Sans";
    font-weight: 800;
    src: url("/fonts/GoshaSans-Ultrabold.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Gosha Sans";
    font-weight: 200;
    src: url("/fonts/GoshaSans-Ultralight.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Object Sans";
    font-weight: 700;
    src: url("/fonts/ObjectSans-Bold.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Object Sans";
    font-weight: 700;
    font-style: italic;
    src: url("/fonts/ObjectSans-BoldSlanted.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Object Sans";
    font-weight: 900;
    src: url("/fonts/ObjectSans-Heavy.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Object Sans";
    font-weight: 900;
    font-style: italic;
    src: url("/fonts/ObjectSans-HeavySlanted.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Object Sans";
    font-weight: 400;
    src: url("/fonts/ObjectSans-Regular.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Object Sans";
    font-weight: 400;
    font-style: italic;
    src: url("/fonts/ObjectSans-Slanted.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Object Sans";
    font-weight: 100;
    src: url("/fonts/ObjectSans-Thin.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "Object Sans";
    font-weight: 100;
    font-style: italic;
    src: url("/fonts/ObjectSans-ThinSlanted.otf") format("opentype");
    font-display: swap;
}
